<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fox And Hounds</title>
    <meta name="description" content="Fox and Hounds">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="ngDraggable.js"></script>
    <script src="game.js"></script>
    <script src="gameLogic.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
    <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>

    <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="Ctrl">
<table ng-class='{table:true}'>
    <tr ng-repeat="row in [0,1,2,3,4,5,6,7,8,9]">

        <td ng-repeat="cell in [0,1,2,3,4,5,6,7,8,9]"

            ng-class="{cell:isBlank($parent.$index,$index),
        		   	 o:$parent.$index%2===$index%2,
        		   	 e:$parent.$index%2!==$index%2
        		   	}"



            ng-drop="true"

            ng-drop-success="onDropComplete($data,$event,$parent.$index,$index)"

            ng-click="cellClicked($parent.$index, $index)">

            <div ng-class="{FoxPiece:true, FoxPieceSelect:isFoxTurn(), FoxOrHoundTurn:isSelected($parent.$index, $index)}"

                 ng-drag="isFoxTurn()"


                 ng-drag-success="onDrag($data,$event,$parent.$index,$index)"


                 ng-show="isPiece($parent.$index,$index,'F')"></div>

            <div ng-class="{HoundPiece:true, FoxPieceSelect:isHoundTurn(), FoxOrHoundTurn:isSelected($parent.$index, $index)}"

                 ng-drag="isHoundTurn()"

                 ng-drag-success="onDrag($data,$event,$parent.$index,$index)"

                 ng-show="isPiece($parent.$index,$index,'H')"></div>


        

</table>
</body>
</html>