body {
    margin: 0px;
    padding: 0px;
    border:none;
    max-height: 100%;
}


.table {
    border-collapse: collapse;
    border : 4px solid #2B0E00;
    padding: 0;
}

.cell {
    position: relative;
    width: 10%;
    padding-bottom: 10%;
}

.o {
    background-image: url('img/piece2.jpg');
}

.e {
    background-image: url('img/piece1.jpg');
}

.FoxPiece {
    position: relative;
    content: url("img/fox.png");
    max-width: 100%;
    padding-bottom:0%;
}

.FoxPieceSelect {
    /*filter: opacity(100%);
    -webkit-filter: opacity(100%);*/

}

.FoxPieceSelect:hover{
    cursor:pointer;
    filter: opacity(30%);
    -webkit-filter: opacity(30%);

}

.HoundPiece {
    position: relative;
    content: url("img/hound4.png");
    max-width: 100%;
    padding-bottom:0%;

}

.HoundPieceSelect {
    /*filter: opacity(100%);
    -webkit-filter: opacity(100%);*/

}

.HoundPieceSelect:hover{
    cursor:pointer;
    filter: opacity(30%);
    -webkit-filter: opacity(30%);
}



@keyframes mymove{
    from {max-width: 10%; padding-left: 20%;}
    to {max-width: 60%; padding-left: 20%;}
}

@-webkit-keyframes mymove {
    from {max-width: 10%; padding-left: 20%;}
    to {max-width: 60%; padding-left: 20%;}
}

.FoxOrHoundTurn{
    filter: opacity(30%);
    -webkit-filter: opacity(30%);
}